// Screen Sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$primaryColor: #646cff;
$primaryHover: #535bf2;

$lightColor1: #ffffffde;
$lightColor2: #ffffff78;

$darkColor1: #242424;
$darkColor2: #1a1a1a;

$warningColor: #dc2626;
$warningHover: #ef4444;

$successColor: #16a34a;
$successHover: #22c55e;
